* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --bg-color: #00B0FF;
}

body {
  direction: rtl;
  background: #E0E0E0;
  font-family: 'IranYekanBold';
  display: flex;
  flex-direction: column;
  align-items: center;
}
